

// variables
$primary: #5265E1;
$secondary: #FA5959;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

body {
  padding: 0;
  margin: 0;
}

.nav-link:hover {
  color: $secondary !important;
}

.btn:hover {
  background-color: transparent !important;
  color: $primary !important;
}

.login:hover {
  color: $secondary !important;
}

.btn-chrome:hover {
  color: $primary !important;
}

.btn-firefox:hover {
  border: 1px gray solid !important;
}

.accordion-button:hover {
  color: $secondary !important;
}

.contact-btn:hover {
  background-color: #FFF !important;
  color: $secondary !important;
}

.custom-background-blue {
  z-index: -1;
  width: 500px;
  height: 340px;
  top: 10rem;
  right: 0px;
  position: absolute;
  border-bottom-left-radius: 8rem;
}

.custom-background-blue-second {
  z-index: -1;
  width: 580px;
  height: 300px;
  top: 9rem;
  position: absolute;
  border-bottom-right-radius: 8rem;

}

.accordion-button::after {
  color: blue;
}

.accordion-button::after {
  background-image: url( /src/Imagenes/icon-arrow.svg) !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url( /src/Imagenes/icon-arrow-copy.svg) !important;
}

.accordion-button:not(.collapsed)::after {
  color: red;
}

.ls-tight {
  letter-spacing: -0.05rem;
}

.ls-normal {
  letter-spacing: normal;
}

.ls-wide {
  letter-spacing: 0.05rem;
}

.ls-wider {
  letter-spacing: 0.4rem;
}

.fs-7 {
  font-size: 0.75rem !important;
}

.mt-7 {
  margin-top: 7rem !important;
}

.nav-features {
  border: none !important;
  text-decoration: none !important;
  color: #7F7F7F !important;

  :hover {
    color: $secondary !important;
  }
}

.nav-features.active {
  border-bottom: 3px solid $secondary !important;
}

.card-custom {
  border: none !important;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0 rgba(136, 152, 170, 0.15);

}

@media (max-width: 575px) {
  .custom-background-blue {
    height: 270px !important; 
    width: 380px !important; 
    top: 7rem !important;
    z-index: -1;
  }
  .custom-background-blue-second {
    height: 200px !important; 
    width: 380px !important; 
    top: 7rem !important;
    z-index: -1;
  }
}

@import "./node_modules/bootstrap/scss/bootstrap.scss";